@keyframes ldio-rxauhlmgbwc {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-rxauhlmgbwc div { box-sizing: border-box!important }
.ldio-rxauhlmgbwc > div {
    position: absolute;
    width: 87.36px;
    height: 87.36px;
    top: 8.32px;
    left: 8.32px;
    border-radius: 50%;
    border: 4.16px solid #000;
    border-color: #3d7ec0 transparent #3d7ec0 transparent;
    animation: ldio-rxauhlmgbwc 0.641025641025641s linear infinite;
}

.ldio-rxauhlmgbwc > div:nth-child(2), .ldio-rxauhlmgbwc > div:nth-child(4) {
    width: 76.96000000000001px;
    height: 76.96000000000001px;
    top: 13.52px;
    left: 13.52px;
    animation: ldio-rxauhlmgbwc 0.641025641025641s linear infinite reverse;
}
.ldio-rxauhlmgbwc > div:nth-child(2) {
    border-color: transparent #cc4545 transparent #cc4545
}
.ldio-rxauhlmgbwc > div:nth-child(3) { border-color: transparent }
.ldio-rxauhlmgbwc > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-rxauhlmgbwc > div:nth-child(3) div:before, .ldio-rxauhlmgbwc > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.16px;
    height: 4.16px;
    top: -4.16px;
    left: 37.44px;
    background: #3d7ec0;
    border-radius: 50%;
    box-shadow: 0 83.2px 0 0 #3d7ec0;
}
.ldio-rxauhlmgbwc > div:nth-child(3) div:after {
    left: -4.16px;
    top: 37.44px;
    box-shadow: 83.2px 0 0 0 #3d7ec0;
}

.ldio-rxauhlmgbwc > div:nth-child(4) { border-color: transparent; }
.ldio-rxauhlmgbwc > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-rxauhlmgbwc > div:nth-child(4) div:before, .ldio-rxauhlmgbwc > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.16px;
    height: 4.16px;
    top: -4.16px;
    left: 32.24px;
    background: #cc4545;
    border-radius: 50%;
    box-shadow: 0 72.8px 0 0 #cc4545;
}
.ldio-rxauhlmgbwc > div:nth-child(4) div:after {
    left: -4.16px;
    top: 32.24px;
    box-shadow: 72.8px 0 0 0 #cc4545;
}
.loadingio-spinner-double-ring-ilhg2lceay {
    width: 104px;
    height: 104px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-rxauhlmgbwc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-rxauhlmgbwc div { box-sizing: content-box; }
